*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* #car1{
    height: 100px;
    width: 100px;
    background-color:red;
}
#car2{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color:green;
}
#car3{
    height: 200px;
    width: 200px;
    background-color:blue;
} */
/* #box{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: red;
} 
#innerbox{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: yellow;
}
#microbox{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: blue;
}
#actualbox{
    position: absolute;
    left: 60%;
    height: 100px;
    width: 100px;
    background-color: green;
} */
/* #homepage{
    width: 100%;
    height: 3000px;
    background-color: #222;
}
#sidebar{
    position: fixed;
    right: 0;
    top: 50%;
    width: 100px;
    height: 400px;
    background-color: red;
} */
#parent{
    width:100%;
    background-color: #222;
}
#child{
    width: 100%;
    min-height: 2000px;
    background-color:#333;
}
#child2{
    width: 100%;
    min-height: 2000px;
    background-color:#555;
}
#sticky{
    position: sticky;
    top: 0;
    height: 200px;
    width: 300px;
    background-color: red;
}