@font-face {
    font-family: apple;
    src: url(./sf-pro-display_semibold.woff2);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* #parent{
    height: 100%;
    width: 100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
#box2{
    height: 200px;
    width: 200px;
    background-color:lightseagreen;

}
#box3{
    height: 200px;
    width: 200px;
    background-color:royalblue;
} */
#main{
    height: 100%;
    width: 100%;
    font-family: Apple;
}
#nav{
   height: 60px;
   width: 100%;
   background-color: rgb(0, 0, 0);
   display: flex;
   align-items: center;
   justify-content:center;
   gap: 40px;
}
#nav h4{
    color: white;
    font-weight: 400;
}
#center{
    height: 120%;
    width: 100%;
    background-image: url(https://www.apple.com/newsroom/images/2025/09/apple-unveils-iphone-17-pro-and-iphone-17-pro-max/tile/Apple-iPhone-17-Pro-camera-close-up-250909-lp.jpg.og.jpg?202602112204);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
}
#center h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
}
#center h5{
    color:white;
    font-size: 40px;
    font-weight: 300;
}
#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
#links button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 60px;
    border: none;
}