*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
/* h1{
    font-size: 500px;
    color: transparent;
    background-image:url(https://images.unsplash.com/photo-1771506364945-0b6566c6cd5f?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyM3x8fGVufDB8fHx8fA%3D%3D) ;
    background-position: center;
    background-clip: text;
    text-align: center;
    background-image: url(https://media.tenor.com/lveDtTE8Ek8AAAAM/rainbow-swirls-relaxing.gif);
    background-clip: text;
    -webkit-text-stroke: 2px red;
} */
#parent{
    height: 400px;
    width: 100%;
    background-color: #333;
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: auto;
}
/* #parent::-webkit-scrollbar{
    display: none;
} */
#parent::-webkit-scrollbar{
    background-color: lightseagreen;
}
#parent::-webkit-scrollbar-thumb{
    background-color: blue;
}
.child{
    height: 100%;
    width: 300px;
    background-color: white;
    border-radius: 30px;
    flex-shrink: 0;
}
.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}