*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
background-color: white;
  height: 100%;
  width: 100%; 
}
/* #box1{
    height: 100px;
    width: 100px;
    background: linear-gradient(to right bottom,red 60%,blue);
    background: radial-gradient(yellow,red,black);
    background: conic-gradient(violet,indigo,blue,green,yellow,orange,red,violet);
} */
/*#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?q=80&w=2483&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}*/
/* #box{
    height: 200px;
    width: 200px;
    background-color: salmon;
    margin: 50px;
} */
/* #box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 10px solid white;
    border-radius: 50% ;
} */
button{
    margin: 200px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: lightseagreen;
    border-radius: 50px;
}