@font-face {
    font-family: f1;
    src: url(./Another\ Danger\ -\ Demo.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:black;
    background-image: url(https://images.unsplash.com/photo-1617814086906-d847a8bc6fca?q=80&w=2042&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    text-align: center;
}
button{
    font-size: 50px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    border-radius: 50px;
}
h1{
    font-family: f1;
    font-weight: 200;
    font-size: 100px;
    color: white;
}